@font-face {
    font-family: 'Rubik-Bubbles';
    src: url('../fonts/Rubik_Bubbles/RubikBubbles-Regular.otf');
}

.menu-bar__container {
    background-color: #FFA433;
    display: flex;
    flex-direction: row;
    height: 90px;

}

.menu-bar__container .menu-bar_icon p {
    align-self: flex-start;
    display: flex;
    font-family:'Rubik-Bubbles', sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
    margin-left: 1rem;
    margin-top:25px;

}

.menu-items__container {
    background-color: #010000da;
    display: flex;
    flex-direction: row;
    height:1rem;
    width: 100%;
}

.menu-items__container .menu-items {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    justify-content: flex-start;

}

.menu-items__container .menu-items p {
    padding: 0.5rem;
}