<div class="menu-bar__container">

    <div class="menu-bar_icon">
        <p>Pizza-Dev</p>
    </div>
</div>

<div class="menu-items__container">
    <div class="menu-items">
        <p> <a routerLink="/home">Home</a></p>
        <p> <a routerLink="/pizzas">Pizza</a></p>
        <p> <a routerLink="/compras">Minhas Compras</a></p>
        <p> <a routerLink="/contato"> Contate-nos</a></p>
    </div>
</div>

<div class="menu-main-page__container">
    <div class="menu-main-page">
        <picture>
            <img 
            src="../../../assets/img/pexels-roman-odintsov-5903450 (1).jpg" 
            alt="foto_de_pizzas"
            alt-text="photo_of_pizzas"
            srcset=""
            >
            <p>Italy Pizza Style</p>
        </picture>

        <div class="menu-description">
            <h3>Bem Vindo ao PizzaDev</h3>
            <br>
            <div class="menu-description__box">
                <p>
                    Usar o telefone toma o seu tempo. Faça o seu pedido de pizza
                    usando o sistema de pedidos on-line da PizzDev!!
                </p>
            </div>
        </div>
        
    </div>

</div>

<div class="footer">
    <footer>BrunoDev2003 | @PizzaDev | 2023</footer>
</div>