/* You can add global styles to this file, and also import other style files */
*{
    border: 0px;
    box-sizing: border-box;
    color: #f7f2ed;
    margin: 0px;
    padding: 0px;
    position: static;
}

body {
    background-color: #d6d6d6ef;
    object-fit: contain;
    position:static;
}
