





<div class="minhas-compras__container">

    <div class="minhas-compras_icon">
        <p>Pizza-Dev</p>
    </div>
</div>

<div class="minhas-compras-item__container">
    <div class="minhas-compras-item">
        <p> <a routerLink="/home">Home</a></p>
        <p> <a routerLink="/pizzas">Menu</a></p>
        <p> <a routerLink="/compras">Minhas Compras</a></p>
        <p> <a routerLink="/contato"> Contate-nos</a></p>
    </div>
</div>

<div class="minhas-compras-page__container">
    <div class="minhas-compras-page">
        <picture>
            <img 
            src="../../../assets/img/pexels-roman-odintsov-5903450 (1).jpg" 
            alt="foto_de_pizzas"
            alt-text="photo_of_pizzas"
            srcset=""
            >
        </picture>

        <div class="minhas-compras_itens">
            <div class="compras_itens">
                <table id="tbl" summary="Tabela para escolher os itens como o tipo de pizza,
                ver o preço e quantidade, e possibilidade de deletar um pedido"
                >
                <caption>Tabela de Pedidos</caption>
                <thead>
                        <tr class="row1">
                            <th>Image</th>
                            <th>Nome</th><br>
                            <th>Tipo</th><br>
                            <th>Preço</th><br>
                            <th>QTDE</th><br>
                            <th>Delete</th><br>
                        </tr>
                </thead>
                <tbody>

                        <tr *ngFor="let row of pizza_items; let i = index" class="row1">
                            <td> <picture> <img src="/src/assets/img/pexels-kristina-paukshtite-1146760.jpg" alt="Foto-pizza"> </picture> </td>
                            <td>{{row.nome}}</td>
                            <td>{{row.tipo}}</td>
                            <td>{{row.preco}}</td>
                            <td>{{row.qtde}}</td>
                            <td>{{row.delete}}</td>
                            <td><button (click)="addRow(row)">Add</button></td>
                        </tr>

                        <button class="btn btn-primary">Confirmar</button>

                        

                        


                </tbody>


                </table>
                
                
            </div>
        </div>        
        
        
    </div>

</div>


<div class="footer">
    <footer>BrunoDev2003 | @PizzaDev | 2023</footer>
</div>
