<div class="minhas-compras__container">

    <div class="minhas-compras_icon">
        <p>Pizza-Dev</p>
    </div>
</div>

<div class="minhas-compras-item__container">
    <div class="minhas-compras-item">
        <p> <a routerLink="/home">Home</a></p>
        <p> <a routerLink="/pizzas">Pizza</a></p>
        <p> <a routerLink="/compras">Minhas Compras</a></p>
        <p>Contate-nos</p>
    </div>
</div>

<div class="minhas-compras-page__container">
    <div class="minhas-compras-page">
        <picture>
            <img 
            src="../../../assets/img/pexels-roman-odintsov-5903450 (1).jpg" 
            alt="foto_de_pizzas"
            alt-text="photo_of_pizzas"
            srcset=""
            >
        </picture>

        <div class="minhas-compras_itens">
            <div class="compras_itens">
                <table>
                    <th>sfvfvv</th>
                    <td>sdvsfav</td>
                </table>
            </div>
        </div>

        
        
        
    </div>

</div>

<div class="footer">
    <footer>BrunoDev2003 | @PizzaDev | 2023</footer>
</div>
