<div class="minhas-compras__container">

    <div class="minhas-compras_icon">
        <p>Pizza-Dev</p>
    </div>
</div>

<div class="minhas-compras-item__container">
    <div class="minhas-compras-item">
        <p> <a routerLink="/home">Home</a></p>
        <p> <a routerLink="/pizzas">Pizza</a></p>
        <p> <a routerLink="/compras">Minhas Compras</a></p>
        <p> <a routerLink="/contato"> Contate-nos</a></p>
    </div>
</div>

<div class="minhas-compras-page__container">
    <div class="minhas-compras-page">
        <picture>
            <img 
            src="../../../assets/img/pexels-roman-odintsov-5903450 (1).jpg" 
            alt="foto_de_pizzas"
            alt-text="photo_of_pizzas"
            srcset=""
            >
        </picture>

        <div class="minhas-compras_itens">
            <div class="compras_itens">
                <table summary="Tabela para escolher os itens como o tipo de pizza,
                ver o preço e quantidade, e possibilidade de deletar um pedido"
                border="0" width="250" align="center">
                <caption>Tabela de Pedidos</caption>
                <tbody>
                        <tr>
                            <th>Image</th>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Preço</th>
                            <th>QTDE</th>
                            <th>Delete</th>
                        </tr>
                        <tr>
                            <td> <figure></figure> </td>
                            <td>Nome da Pizza</td>
                            <td>Tipo pizza</td>
                            <td>Preço pizza em R$</td>
                            <td>QTDE pizza</td>
                            <td>Deletar</td>
                        </tr>
                </tbody>


                </table>
            </div>
        </div>

        
        
        
    </div>

</div>

<div class="footer">
    <footer>BrunoDev2003 | @PizzaDev | 2023</footer>
</div>
