<div class="pizza-pedidos__container">

    <div class="pizza-pedidos_icon">
        <p>Pizza-Dev</p>
    </div>
</div>

<div class="pizza-pedidos-item__container">
    <div class="pizza-pedidos-item">
        <p> <a routerLink="/home">Home</a></p>
        <p> <a routerLink="/pizzas">Pizza</a></p>
        <p>Minhas Compras</p>
        <p>Contate-nos</p>
    </div>
</div>

<div class="pizza-pedidos-page__container">
    <div class="pizza-pedidos-page">
        <picture>
            <img 
            src="../../../assets/img/pexels-roman-odintsov-5903450 (1).jpg" 
            alt="foto_de_pizzas"
            alt-text="photo_of_pizzas"
            srcset=""
            >
        </picture>

        <div class="pizza_pedidos_itens">
            <div class="pizza_itens">
                <picture>
                    <img src="" alt="">
                </picture>
                <h1>Nome Pizza</h1>
                <p>Descrição Pizza</p>
            </div>
        </div>

        <div class="pizza-pedidos-description">
            <h3>Bem Vindo ao PizzaDev</h3>
            <br>
            <div class="pizza-pedidos-description__box">
                <p>
                    Usar o telefone toma o seu tempo. Faça o seu pedido de pizza
                    usando o sistema de pedidos on-line da PizzDev!!
                </p>
            </div>
        </div>
        
    </div>

</div>

<div class="footer">
    <footer>BrunoDev2003 | @PizzaDev | 2023</footer>
</div>