<div class="pizza-pedidos__container">

    <div class="pizza-pedidos_icon">
        <p>Pizza-Dev</p>
    </div>
</div>

<div class="pizza-pedidos-item__container">
    <div class="pizza-pedidos-item">
        <p> <a routerLink="/home">Home</a></p>
        <p> <a routerLink="/pizzas">Menu</a></p>
        <p> <a routerLink="/compras">Minhas Compras</a></p>
        <p> <a routerLink="/contato"> Contate-nos</a></p>
    </div>
</div>

<div class="pizza-pedidos-page__container">
    <div class="pizza-pedidos-page">
        <picture>
            <img 
            src="../../../assets/img/pexels-roman-odintsov-5903450 (1).jpg" 
            alt="foto_de_pizzas"
            alt-text="photo_of_pizzas"
            srcset=""
            >
        </picture>

        <div class="pizza_pedidos_itens">
            <div class="pizza_itens">
                <span>Escolha o seu item preferido de pizza!</span>
                <picture>
                    <img src="" alt="">
                </picture>
                <h3>Napolitana</h3>
                <span>Molho de Tomate, mussarela, presunto, calabresa, pimentão, cebola, ovo, azeitona e orégano</span>
                <span>Preço: <strong>R$19,00</strong></span>
            </div>
        </div>

        <div class="pizza_pedidos_itens">
            <div class="pizza_itens">
                <picture>
                    <img src="" alt="">
                </picture>
                <h3>Portuguesa</h3>
                <span>Molho de Tomate, mussarela, presunto, calabresa, pimentão, cebola, ovo, azeitona e orégano</span>
                <span>Preço: <strong>R$29,00</strong></span>
            </div>
        </div>

        
        <div class="pizza_pedidos_itens">
            <div class="pizza_itens">
                <picture>
                    <img src="" alt="">
                </picture>
                <h3>Champignon</h3>
                <span>Mussarela, champignon, azeitona e orégano</span>
                <span>Preço: <strong>R$23,90</strong></span>
            </div>
        </div>

        <div class="pizza-pedidos-description">
            <h3>Bem Vindo ao PizzaDev</h3>
            <br>
            <div class="pizza-pedidos-description__box">
                <p>
                    Usar o telefone toma o seu tempo. Faça o seu pedido de pizza
                    usando o sistema de pedidos on-line da PizzDev!!
                </p>
            </div>
        </div>

        
        
    </div>

</div>

<div class="footer">
    <footer>BrunoDev2003 | @PizzaDev | 2023</footer>
</div>