<div class="edit-user-container">
    <h1 class="text-center">Edit User</h1>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="hidden">
            <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id"> 
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" placeholder="username" name="username" class="form-control" id="username" readonly="true">
        </div>
        <div class="form-group">
            <label for="username">Firstname</label>
            <input type="text" formControlName="firstname" placeholder="firstname" name="firstname" class="form-control" id="firstname" readonly="true">
        </div>
        <div class="form-group">
            <label for="username">Lastname</label>
            <input type="text" formControlName="lastname" placeholder="lastname" name="lastname" class="form-control" id="lastname" readonly="true">
        </div>
        <div class="form-group">
            <label for="username">Age</label>
            <input type="text" formControlName="age" placeholder="age" name="age" class="form-control" id="age" readonly="true">
        </div>

        <button class="btn-success">Update</button>
    </form>
</div>
